.active, .done {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid darkgray;
    background-color: #fff;
    overflow: hidden;
    text-indent:  -999px;
    margin-right: 10px;
}
.active {

}

.done {
    background-color: green;
}

.done + span {
    text-decoration: line-through;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content:  flex-start;
    align-items: center;
}

li span{
    flex-grow: 4;
}

li button:last-child {
    display: none;
}

li:hover button:last-child {
    display: inline-block;
}

button {
    cursor: pointer;
}